@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');


:root{
/* 
## Colors */
/* ### Primary */

--CTA-text: hsl(356, 100%, 66%);
--CTA-HoverBG: hsl(355, 100%, 74%);
--headings: hsl(208, 49%, 24%);

/* ### Neutral */
--white-text:hsl(0, 0%, 100%);
--footer-text:hsl(240, 2%, 79%);
--grayish-body: hsl(207, 13%, 34%);
--footer-bg: hsl(240, 10%, 16%);

/* ### Gradient */
/* 
Background gradient - Intro/CTA mobile nav: */

--vlr:hsl(13, 100%, 72%);
--lr: hsl(353, 100%, 62%);


/* Background gradient - body: */
--vdgb: hsl(237, 17%, 21%);
--vddbhsl:hsl(237, 23%, 32%);

}



/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html,body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .main-container{
    max-width: 1400px;
  }
.hero{
    background-image: url("./images/bg-pattern-intro-desktop.svg");
    opacity: 0.7;
    height: 500px; /* You must set a specified height */
 /* width:  960px;  */
 margin: 0 auto;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-bottom-left-radius: 60px;
  
    background-color: var(--vlr);
}

.navbar{
    display: flex;
 justify-content: space-between;

 padding-top: 2rem;
 margin-left: 4rem;
 margin-right: 4rem;
}
/* Navbar container */
.topnav {
    overflow: hidden;
  
    font-family: 'Overpass', sans-serif;
/* font-family: 'Ubuntu', sans-serif; */
  }

  /* Links inside the navbar */
  .topnav  a {
    font-family: 'Overpass', sans-serif;
    float: left;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }

  /* Dropdown button */
.dropdown .dropbtn {
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  

  /* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:none;
  }

  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
.dropdown-content a {
  font-family: 'Overpass', sans-serif;
      font-size: 1rem;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--CTA-HoverBG);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;

  }
/*   
  .cta{
    display: flex;
    justify-content: center;
    align-items: center;
  } */

   .cta h1{
    font-family: 'Overpass', sans-serif;
      font-size: 2rem;
       margin-top: 50px;
     margin-left: 30%;
     margin-right: 30%;
     color: var(--white-text);
     font-weight: 600;
     text-align: center;
  }

  .cta p{
  margin-top: 50px;
  font-family: 'Overpass', sans-serif;
 font-size: 1rem;
  margin-left: 35%;
  margin-right: 30%;
  color: var(--white-text);
  font-weight: 300;
  text-align: center;
}


.learn {
   
  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
    margin-left: 37%;
    /* margin-right: 30%; */
    margin-top: 50px;
    
   
  }

  .learn .btn{
    border: 2px solid var(--white-text);
    background-color: var(--lr);
    color: white;
    padding: 15px 25px;
    text-decoration: none;
   
    text-align: center;
    border-radius: 60px;
   
    
   
  }

  .learn .btn:hover {
    background-color: var(--white-text);
    color: var(--lr);
  }


  .membership  .btn{
    background-color: var(--lr);
 
    padding: 15px 25px;
    text-decoration: none;
   
    text-align: center;
    border-radius: 60px;
    margin-right: 50px;
    
   
  }
  .membership .btn:hover {
    background-color: var(--white-text);
    color: var(--lr);
  
  }


  .design h1{
      color: var(--headings);
      margin-left: 30%;
      margin-right: 30%;
      margin-top: 150px;
      font-family: 'Overpass', sans-serif;
      font-size: 2.5rem;
  }

  .mid{

    max-width:  1400px;
    display: flex;
    

  }
.content{
    width: 700px;
    margin-top: 140px;
    padding-left: 100px;
    padding-right: 100px;
}
.content h2{
    color: var(--headings);
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
 
}
.content p{
  font-family: 'Overpass', sans-serif;
    color: var(--vdgb);
    margin-top: 20px;
    font-size: 1rem;
 
}
  .image{
width: 700px;
margin-top: -60px;


  }

  .phones{
      display: flex;
    

      background-color: var(--vddbhsl);
      border-radius: 0px 60px 0px 60px;
      max-width: 1400px;
      height: 430px;
      margin-top: 50px;
  }

  .phones h1{
    font-family: 'Overpass', sans-serif;
      font-size: 1.875rem;
      margin-bottom: 20px;
    color: var(--white-text);
}

.phones p{
  font-family: 'Overpass', sans-serif;
    color: var(--white-text);
    font-size: 1rem;
}
.phone-image{
    width: auto;
    margin-left: 100px;
    margin-top: -55px;
}
.phone-content{
    width: 520px;
    margin-top: 100px;
    
    padding-left: 70px;
}

.phone-content h2{
  
  margin-bottom: 20px;
  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
  
}
.laptop{
    display: flex;
    

    margin-top: 100px;
}
.laptop-image {
  width: 500px;
  

}
.laptop-content {
    width: 500px;
    
 
}

.laptop-content h2{
    color: var(--headings);
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
    
 
}
.laptop-content p{
  font-family: 'Overpass', sans-serif;
    color: var(--vdgb);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    margin-right: 20px;
 
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--footer-bg);
    border-radius: 0px 60px 0px 0px;
    max-width:1400px;
    height: 380px;
    margin-top: 50px;
}

.footer h3{
  font-family: 'Overpass', sans-serif;
    color: var(--white-text);
    font-size: 1rem;
}


.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

 .footer ul li a{
    text-decoration: none;
    color: var(--white-text);
    margin: 5px;
  }
  .footer-logo, .footer-product, .footer-company, .footer-connect{
    margin-top: 50px;
  }

  .footer-content ul {
    margin-top: 50px;
  }
  .footer-content ul li {
    margin-bottom: 10px;
  }

  .attribution{
    background-color: var(--footer-bg);
    color: var(--white-text);
    padding-left: 40%;
  }

  .Humberga{
    display: none;
  }
  /* *********************************************** */
  /******************** Media Queries *************** */
  /* *********************************************** */

  /* @media screen and (min-width:1024px) {

    
    
    .design h1{
    
      font-size: 1.5rem;
  }

  
  
  
  } */

  @media screen and (min-width:768px) and (max-width:1023px) {

    
.navbar{
  
margin-left: 2rem;

}

     .design h1{
    
      font-size: 1.5rem;
  }

  
    
    .mid{

      
      display:flex;
      flex-direction: column-reverse;
    }

    .image {
      width: 400px;
    
     
      margin-left: 70px;
      padding-top: 80px;
  }
  .phones{
    display: flex;
  
}


.phones h1{
  
    font-size: 1.875rem;
  
  
}

.phones p{

  font-size: 1rem;
}
.phone-image{
  max-width: 650px;
  
}
.phone-content{
  
  margin-top: 10px;
  padding-left: 70px;
  margin-bottom: 50px;
}

.phone-content h2{


font-size: 1rem;

}
  
  
  }

  @media screen and (min-width:375px) and (max-width:767px) {

    

    .topnav {
     display: none;
    } 

     .Humberga{
     display: block;
    } 

    /* ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      
          } */

    .topnav ul li {
      display: block;
    }
    .cta{
      margin-top: 100px;
    }
    .cta h1{
      
        font-size: 1.5rem;
        
       
        margin-top: 80px;
        margin-right: 80px;
        margin-bottom: 20px;
        margin-left: 80px;
    }
  
    .cta p{
     
    margin-left: 80px;
    margin-right: 40px;
    
  }
  
  
  .learn {
     
  
      margin-left: auto;
     padding-left: 250px;
      
     
    }
    /* .learn .btn{
   
      background-color: var(--lr);
      color: white;
      padding: 15px 25px;
      text-decoration: none;
     
      text-align: center;
      border-radius: 60px;
      
     
    }
  
    .learn .btn:hover {
      background-color: var(--white-text);
      color: var(--lr);
    } */
  

    .design h1{
      text-align: center;
     margin: 0;
      margin-top: 150px;
     
  }
  .image{
width: 500px;
margin: 0;
padding: 0;

  }
  
    .mid{

      
    
      flex-direction: column-reverse;
    }
    .content{
      width: auto;
      margin-top: 30px;
      margin-right: 30px;
      margin-bottom: 200px;
      margin-left: 30px;
    padding: 0;
      padding: 0;
      text-align: center;
  }
  .content h2{
      
    font-weight: 700;
      font-size: 1.7rem;

   
  }
  .content p{
   
     margin-bottom: 20px;
   
  }



    .phones{
     
     flex-direction: column;
     height: auto;
  }
   .phones h1{
  
    text-align: center;
  
  
}

.phones p{

  text-align: center;
} 
.phone-image{
  max-width: 650px;
  margin-left: auto;
  margin-top: -170px;
  
}
.phone-content{
  
 width: auto;
 margin-right: 20px;
}



  .laptop{
    flex-direction: column;
}



.laptop-image {
width: auto;


}
.laptop-content {
  width: auto;
  

}

 .laptop-content h2{
   font-size: 1.5rem;
  font-weight: 800;
  text-align: center;

}
.laptop-content p{
text-align: center;

} 

  .footer-content{
    flex-direction: column;
    height: auto;
    /* padding-top: 100px; */
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
}
.footer h3{
  
  font-size: 1.5rem;
}

}


  
